body {
  background: #0f1a0f;
  color: #d4ff00;
  font-family: Arial;
  text-align: center;
}

.day-card {
  background: #1c2b1c;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  max-width: 500px;
  border-radius: 6px;
}

button {
  background: #2f4f2f;
  color: #d4ff00;
  border: none;
  padding: 8px 12px;
  margin: 5px;
}

input {
  margin: 5px;
  padding: 5px;
}
