body{
  margin:0;
  background:#0f172a;
  font-family:-apple-system,BlinkMacSystemFont;
  color:white;
}
.header{
  padding:20px;
  text-align:center;
  font-weight:700;
  font-size:20px;
}
.nav{
  display:flex;
  justify-content:center;
  gap:15px;
  margin-bottom:10px;
}
button{
  padding:8px 12px;
  border:none;
  border-radius:8px;
  background:#22c55e;
  color:white;
}
.card{
  background:#1e293b;
  margin:12px;
  padding:15px;
  border-radius:12px;
}
input{
  width:100%;
  padding:8px;
  margin-top:6px;
  border-radius:6px;
  border:none;
}
.exercise{
  background:#334155;
  padding:10px;
  margin-top:8px;
  border-radius:8px;
}
.timer{
  font-size:18px;
  margin-top:6px;
}
#calendarGrid{
  display:grid;
  grid-template-columns:repeat(7,1fr);
  gap:4px;
}
.dayBox{
  background:#334155;
  padding:6px;
  font-size:12px;
  text-align:center;
  border-radius:6px;
}
.today{
  background:#22c55e;
}
