body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

#plan-display {
  margin-top: 30px;
  padding: 20px;
  background: #222;
  border-radius: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
